@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
div{
	margin:auto;
	max-width: 1400px;
}
body{
	background-color: #E0E3E5;
	font-size:18px;
	font-family: 'Noto', sans-serif;
	padding: 1%;
	color: #4F524F;
	margin: 1%;
	padding: .5%;
}
nav{
	font-size: 1.5em;
}
nav a{
	text-decoration: none;
	color: #4F524F;
	display: block;
	float: left;
	margin: 1%;
	padding: .5%;
}
a:hover{
	background-color: #5A8FB2;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
#images img {
	width: 25%;
	float: left;
}
footer{
	font-size: .75em;
	text-align: center;
	padding: 2%;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
@media only screen and (max-width: 800px){
	nav{ 
		float: none;
	}
	#about{
		text-align: center;
	}
}
@media only screen and (max-width: 400px){
	}
