@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
body{
	background-color: #665A5C;
	font-size:24px;
	font-family: 'Oswald', sans-serif;
}
h1{
	font-family: 'Gruppo', cursive;
	color: #E52039;
	font-size:2em;
	text-align: center;
	text-decoration: underline;
}
#slogan{
	font-weight: 700;
}
