@import url(http://fonts.googleapis.com/css?family=Gruppo);
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
header{
	display: block;
	width: 50%;
	float: left;
	padding: 1em;
}
body{
	background-color: #E0E3E5;
	font-size:18px;
}
img{
	margin: 0em;
	padding: 0em;
	border: 0px;
}
#guitarfullwidth{
	width: 50%;
}
section .2016tour{
	width:50%;
	color: #4F524F;
	background-color:#fff;
	margin:4em auto;
	padding:3em;
}
section#about{
	width:50%;
	color: #4F524F;
	background-color:#fff;
	margin:4em auto;
	padding:3em
	line-height: 1.25em;
	margin-top: 1em;
}
h1,h2,ul{
	font-family: 'Gruppo';
	color: #4F524F;
	font-size:2em;
	text-align: left;
}
footer{
	font-size: .75em;
	text-align: center;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

