@import url(http://fonts.googleapis.com/css?family=Gruppo);
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
body{
	background-color: #E0E3E5;
	font-size:18px;
}
header{
	background-image: url(thebandimages/guitardesert.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 500px;
}
h1,h2,ul,p{
	font-family: 'Gruppo';
	color: #4F524F;
	font-size:2em;
	text-align: left;
	padding: .8em 0;
}
img{
	display: block;
	margin: 0em;
	padding: 0em;
	border: 0px;
	vertical-align: center;
}
div #tourdates{
	width:50%;
	color: #4F524F;
	background-color:#fff;
	margin:4em auto;
	padding:3em;
	border-bottom: 4px solid blue;
	display: inline-block;
}
div #album{
	width:50%;
	color: #4F524F;
	background-color:red;
	line-height: 1.25em;
}
div #about{
	background-color:#fff;
	line-height: 1.25em;
}
footer{
	font-size: .75em;
	text-align: center;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

