@import url(http://fonts.googleapis.com/css?family=Gruppo);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300);
*{
	margin:0;
	padding: 0;
	box-sizing:border-box;
}
body{
	background-color: #E0E3E5;
	font-size:18px;
}
header{
	background-image: url(thebandimages/guitardesert.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	height: 300px;
	border-bottom: 4px solid #5A8FB2;
}
nav{
	font-size: 1.5em;
}
nav a{
	text-decoration: none;
	display: block;
	float: left;
	margin: 2em;
}
a:hover{
	background-color: #5A8FB2;
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
section {
	padding:4em;
}
section#tourdates{
	float:left;
	width:50%;
	border-top: 4px solid #5A8FB2;

}
section#album{
	float:left;
	width:50%;
	color: #4F524F;
	border-top: 4px solid #5A8FB2;


}
section#contact{
	clear: both;
	border-top: 4px solid #5A8FB2;

}
section#about{
	outline: 4px solid #5A8FB2;
}
.thumbnail{
	float: left;
}
h1,h2{
	font-family: 'Gruppo';
	color: #5A8FB2;
	margin: 0 0 .5em;
}
h1 {
	font-size:4em;
}
h2 {
	font-size:2em;
}
ul{
	list-style-type: none;
}
li,p,nav{
	margin: 0 0 1em;
	font-family: Oswald;
	font-weight: 300;
}
span{
	font-weight: 400;	
}
footer{
	font-size: .75em;
	text-align: center;
	padding: 4em
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

